body {
    background-color: lemonchiffon;
    margin: 0;
    padding: 20px;
    color:black;
    text-align: center;
}

h2{
    color: coral;
    text-align: center;
    margin-bottom: 10px;
}

h5{
    color: hotpink;
    text-align: center;
    margin-bottom: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-between;
}


.galeria-item{
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 10px;

text-align: center;
}