body {
    background-color: lemonchiffon;
    margin: 0;
    padding: 20px;
    color:black;
    text-align: center;
}

h2{
    color: coral;
    text-align: center;
    margin-bottom: 10px;
}

h5{
    color: hotpink;
    text-align: center;
    margin-bottom: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-between;
}
