body {
    background-color:#efa6b7;
    margin: 0;
    padding: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
}

h2{
    color: coral;
    text-align: center;
    margin-bottom: 10px;
}

h5{
    color: hotpink;
    text-align: center;
    margin-bottom: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-between;
}


.galeria-item{
    background-color: #d3395d;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 10px;
flex: 1 1 calc(33.33% - 20px);
text-align: center;
}
.galeria-item h4{
    margin: 10px 0px;
    color:antiquewhite;
    font-size: 23px;
}
.galeria-item img{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.galeria-item img:hover{
transform: scale(1.45);
box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}